<div class="content-wrapper pt-3">
  <div class="row">
    <div class="crm-prospects crm-metas col-12 crm-prospects-addfile">
		  <div class="card crm-metas__tabcontent rounded">
        <div class="card-body bg-white">
          <h4 class="card-title">Subir lista de Prospectos .CSV</h4>

          <div class="alert alert-warning mt-3" role="alert">
            <p class="card-description">
              Seleccione un archivo de tipo .CSV desde su equipo (solo se admite este tipo de archivo)
            </p>
          </div>

          <form class="form-inline upload-form">
            <div class="form-group">
              <label class="mr-3">File upload</label>
              <input type="file" name="img[]" class="file-upload-default">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" placeholder="Upload Image">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-primary" type="button">Subir</button>
                </span>
              </div>
            </div>
            <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->
          </form>
        </div>
	      </div>
      </div>
  </div>
  <!-- row end -->
</div>