<div class="content-wrapper pt-3 leads-stats">
	<div class="row">
		<div class="col-lg-7 bg-white py-3">
			<h6 class="text-light text-uppercase m-0 bg-primary p-2 my-2">Leads totales del CCC hasta hoy, domingo 16 de agosto de 2020: 1187</h6>

			<div class="resp-leads justify-content-center">
				<div class="resp-leads__item item--c1">
					<div class="name">
						<strong>Vendido</strong>
					</div>
					<div class="number">
						28
					</div>
				</div>
				<div class="resp-leads__item item--c2">
					<div class="name">
						<strong>En espera de respuesta</strong>
					</div>
					<div class="number">
						429
					</div>
				</div>
				<div class="resp-leads__item item--c3">
					<div class="name">
						<strong>No hubo acuerdo</strong>
					</div>
					<div class="number">
						165
					</div>
				</div>
				<div class="resp-leads__item item--c4">
					<div class="name">
						<strong>Falta contactarlo</strong>
					</div>
					<div class="number">
						197
					</div>
				</div>
				<div class="resp-leads__item item--c5">
					<div class="name">
						<strong>Nunca contestó</strong>
					</div>
					<div class="number">
						167
					</div>
				</div>
				<div class="resp-leads__item item--c6">
					<div class="name">
						<strong>Fue evaluado</strong>
					</div>
					<div class="number">
						226
					</div>
				</div>
				<div class="resp-leads__item item--c7">
					<div class="name">
						<strong>Canalizado a Sucursal</strong>
					</div>
					<div class="number">
						76
					</div>
				</div>
				<div class="resp-leads__item item--c8">
					<div class="name">
						<strong>Otra alternativa 1</strong>
					</div>
					<div class="number">
						1
					</div>
				</div>
				<div class="resp-leads__item item--c9">
					<div class="name">
						<strong>Otra alternativa 2</strong>
					</div>
					<div class="number">
						0
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-lg-5 bg-white py-3">
			<div id="chart" class="chart-sell"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 bg-white py-3">
			<div class="resp-leads resp-leads__sells sell">
				<div class="sell__box">
					<div class="name">
						NOmbre
					</div>
					<div class="numer1">
						97
					</div>
					<div class="number2">
						V
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						ERIK
					</div>
					<div class="numer1">
						60
					</div>
					<div class="number2">
						0
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						FRANK
					</div>
					<div class="numer1">
						381
					</div>
					<div class="number2">
						6
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						FRANK
					</div>
					<div class="numer1">
						381
					</div>
					<div class="number2">
						6
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						GABY
					</div>
					<div class="numer1">
						115
					</div>
					<div class="number2">
						3
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						IVÁN
					</div>
					<div class="numer1">
						154
					</div>
					<div class="number2">
						5
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						LILI
					</div>
					<div class="numer1">
						179
					</div>
					<div class="number2">
						1
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						LUCERO
					</div>
					<div class="numer1">
						344
					</div>
					<div class="number2">
						10
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						MARIEL
					</div>
					<div class="numer1">
						6
					</div>
					<div class="number2">
						0
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						MARIEL
					</div>
					<div class="numer1">
						6
					</div>
					<div class="number2">
						0
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						OMAR
					</div>
					<div class="numer1">
						26
					</div>
					<div class="number2">
						3
					</div>
				</div>
				<div class="sell__box">
					<div class="name">
						TOÑO
					</div>
					<div class="numer1">
						19
					</div>
					<div class="number2">
						0
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-lg-5 bg-white py-3">
			
		</div> -->
		<div class="col-lg-12 bg-white py-3">
			<div class="resp-leads resp-leads__other other">
				<div class="other__box other--blue">
					<div class="name">
						EDAD PROMEDIO
					</div>
					<div class="numer1">
						32
					</div>
				</div>
				<div class="other__box other--blue">
					<div class="name">
						HOMBRES
					</div>
					<div class="numer1">
						590
					</div>
				</div>
				<div class="other__box other--blue">
					<div class="name ">
						MUJERES
					</div>
					<div class="numer1">
						299
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Guerrero
					</div>
					<div class="numer1">
						299
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Oaxaca
					</div>
					<div class="numer1">
						63
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Puebla
					</div>
					<div class="numer1">
						705
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Tlaxcala
					</div>
					<div class="numer1">
						89
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Veracruz
					</div>
					<div class="numer1">
						109
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Tabasco
					</div>
					<div class="numer1">
						1
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						Morelos
					</div>
					<div class="numer1">
						3
					</div>
				</div>
				<div class="other__box states">
					<div class="name">
						CDMX
					</div>
					<div class="numer1">
						9
					</div>
				</div>

			</div>
		</div>
		<div class="col-lg-12 bg-white py-3 my-2">
			
		</div>
	</div>
</div>

<script src="controllers/admin/graph.js"></script>

