<div class="content-wrapper pt-3">
  <div class="row">
    <div class="col-12 crm-metas rounded-lg">
      <nav class="crm-metas__navtabs metas-tabs">
        <div class="nav nav-tabs rounded" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-crearmeta-tab" data-toggle="tab" href="#nav-crearmeta" role="tab" aria-controls="nav-crearmeta" aria-selected="true">Crear Meta</a>
          <a class="nav-item nav-link" id="nav-listmetas-tab" data-toggle="tab" href="#nav-listmetas" role="tab" aria-controls="nav-listmetas" aria-selected="false">Lista de Metas</a>
          <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
        </div>
      </nav>
      <div class="tab-content crm-metas__tabcontent metas-content rounded" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-crearmeta" role="tabpanel" aria-labelledby="nav-crearmeta-tab">
          <p >
            Lista de áreas disponibles
          </p>
          <div id="selareas-metas" class="crm-metas__items scrollbarcs">
            <button type="button" class="btn btn-warning item btn-sm selected">
              Franquicias
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Micropayments
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Paga Express
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>

            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>
            <button type="button" class="btn btn-warning item btn-sm">
              Trámites
              <i class="mdi mdi-menu-right float-right"></i>
            </button>

          </div>
          <div class="col-12 crm-metas__info grid-margin stretch-card p-0">
            <div class="card rounded mt-3">
              <div class="card-body">
                <h4 class="card-title">Metas por Area</h4>
                <p class="card-description">
                  Ingrese la información para asignar a la Meta
                </p>
                <form class="">
                  <div class="row">
                    <!-- <div class="col-12"> -->
                      <div class="input-group col-4 mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-info text-white">#</div>
                        </div>
                        <input type="number" class="form-control" id="inlineFormInputGroupUsername1" placeholder="Prospectos">
                      </div>
                      <div class="input-group col-4 mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-info text-white">#</div>
                        </div>
                        <input type="number" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Oportunidades">
                      </div>
                      <div class="input-group col-4 mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-info text-white">#</div>
                        </div>
                        <input type="number" class="form-control" id="inlineFormInputGroupUsername3" placeholder="Clientes">
                      </div>
                    <!-- </div> -->
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Fecha de inicio</label>
                        <input id="fechaIni" type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Fecha de Fin</label>
                        <input id="fechaFin" type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Ventas</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Medios de adquisición</label>
                        <select class="selectpicker form-control scrollbarcs" multiple>
                          <option>Facebook</option>
                          <option>Twitter</option>
                          <option>Formulario Web</option>
                          <option>TV</option>
                          <option>Radio</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info mb-2 ml-2">Asignar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-listmetas" role="tabpanel" aria-labelledby="nav-listmetas-tab">
          <div class="card rounded">
            <div class="card-body metas_list">
              <h4 class="card-title">Lista de Metas</h4>
              <div class="table-responsive">
                <table id="table-metas" class="table table-striped crm_table">
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Prospectos
                      </th>
                      <th>
                        Oportunidades
                      </th>
                      <th>
                        Clientes
                      </th>
                      <th>
                        Fecha de inicio
                      </th>
                      <th>
                        Fecha fin
                      </th>
                      <th>
                        Acciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr>
                    <tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr><tr>
                      <td class="py-1">
                        2324
                      </td>
                      <td>
                        345
                      </td>
                      <td>
                        565
                      </td>
                      <td>
                        6746
                      </td>
                      <td>
                        Junio-15-2020
                      </td>
                      <td>
                        Agosto-15-2020
                      </td>
                      <td>
                        <button type="button" class="btn btn-social-icon btn-facebook" title="Ver" data-toggle="modal" data-target="#ver-listar"><i class="mdi mdi-file-document"></i></button>
                        <button type="button" class="btn btn-social-icon btn-twitter" title="Editar" data-toggle="modal" data-target="#editar-listar"><i class="mdi mdi-pencil"></i></button>
                        <button type="button" class="btn btn-social-icon btn-youtube deleteitem-list" title="Eliminar"><i class="mdi mdi-window-close"></i></button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
      </div>


      <div class="">
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- row end -->
</div>

<!--Ver Modal -->
<div class="modal fade crm_modal" id="ver-listar" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="ver-listarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  crm_modal--ver">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ver Detalles Meta <strong>#2324</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body crm_modal__content">
        <div class="col-lg-12 stretch-card p-0">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th>
                          Prospectos
                        </th>
                        <td>
                          345
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Oportunidades
                        </th>
                        <td>
                          565
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Clientes
                        </th>
                        <td>
                          6746
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Fecha de Inicio
                        </th>
                        <td>
                          Junio-15-2020
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Fecha Fin
                        </th>
                        <td>
                          Agosto-15-2020
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Ventas
                        </th>
                        <td>
                          $5657.00
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Medios de adquisición
                        </th>
                        <td>
                          <select class="selectpicker form-control scrollbarcs" multiple>
                            <option>Facebook</option>
                            <option>Twitter</option>
                            <option>Formulario Web</option>
                            <option>TV</option>
                            <option>Radio</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="modal-footer"> -->
       <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<!--Editar Modal -->
<div class="modal fade crm_modal" id="editar-listar" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="editar-listarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  crm_modal--editar">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Meta <strong>#2324</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body crm_modal__content">
        <div class="col-lg-12 stretch-card p-0">
          <div class="card">
            <div class="card-body p-3">
              <form class="forms-sample">
                <div class="form-group row">
                  <label for="prospectos" class="col-sm-3 col-form-label">Prospectos</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="prospectos" placeholder="345">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="oportunidades" class="col-sm-3 col-form-label">Oportunidades</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="oportunidades" placeholder="453">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="clientes" class="col-sm-3 col-form-label">Clientes</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="clientes" placeholder="789">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fechaini" class="col-sm-3 col-form-label">Fecha de Inicio</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="fechaini" placeholder="Junio-15-2020">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fechaFin" class="col-sm-3 col-form-label">Fecha Fin</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="fechaFin" placeholder="Agosto-15-2020">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ventas" class="col-sm-3 col-form-label">Ventas</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="ventas" placeholder="$50055.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ventas" class="col-sm-3 col-form-label">
                  Medios de adquisición</label>
                  <div class="col-sm-9">
                    <select class="selectpicker form-control scrollbarcs" multiple>
                      <option>Facebook</option>
                      <option>Twitter</option>
                      <option>Formulario Web</option>
                      <option>TV</option>
                      <option>Radio</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row justify-content-center pt-3">
                  <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                  <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
       <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<script src="controllers/admin/metas.js"></script>