<section>
	<div class="row justify-content-center">
		<div class="col-10 container-title">
			<div id="banner-title" class="sites__cardtitle ">
				<span class="title">Depósito de saldo</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="depositos-sald">

				<div class="accordion" id="accordionExample">
					<nav aria-label="breadcrumb" class="mb-2">
					  <ol class="breadcrumb py-0">
					    <li class="breadcrumb-item"><a href="views/inicio.html" class="pageto">Inicio </a></li>
					    <li class="breadcrumb-item active" aria-current="page">Depósito de saldo</li>
					  </ol>
					</nav>
					<div class="card">
						<div class="card-header depositos-sald__head" id="headingOne">
					        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          CUENTAS PARA ABONAR SALDO
					        </button>
						</div>
						<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<div class="table-responsive measuringWrapper">
									<table class="table table-sm table-bordered" id="table_referencias" style="width: 100%">
										<thead>
											<tr>
												<th>Banco</th>
												<th>Cuenta</th>
												<th>CLABE(interbancaria)</th>
												<th>Cuenta a Nombre de:</th>
											</tr>
										</thead>
										<tbody></tbody>
										<tr>
											<td>Banorte</td>
											<td>0247742453</td>
											<td>072 6500 0247742453 0</td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
										<tr>
											<td>BBVA Bancomer</td>
											<td>0196761445</td>
											<td>012 6500 0196761445 5</td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
										<tr>
											<td>Banamex</td>
											<td>Suc. 7003 Cta. 3585606</td>
											<td>002 3127 0033585606 7</td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
										<tr>
											<td>Banco Azteca</td>
											<td>01780108305054</td>
											<td>127 9050 0108305054 6</td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
										<tr>
											<td>Coppel</td>
											<td>12000002109</td>
											<td>137650120000021091</td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
										<tr>
											<td>Inbursa</td>
											<td>50056057983</td>
											<td></td>
											<td>Microtecnologias móviles S.A de C.V.</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header depositos-sald__head" id="headingTwo">
					        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          REPORTAR DEPÓSITO
					        </button>
						</div>
						<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<form action="#" method="post" accept-charset="utf-8" name="form_deposito" id="form_deposito">
									<div class="row justify-content-sm-around justify-content-center">
										<div class="col-sm-auto col-12 order-md-1 order-sm-2 order-2">
											<div id="site-2-2" class="form-group">
												<label>¿Desea Facturar el Depósito?</label>
												<div class="form-row justify-content-center">
													<div class="form-check-inline">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="facturar" value="1">Si</label>
													</div>
													<div class="form-check-inline">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="facturar" value="0" checked>No</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-auto col-12 order-md-2 order-sm-1 order-1">
											<div class="alert alert-danger">
												Horarios para Aplicación de Depósitos:
												<br>Lunes - Viernes 10 am - 3 pm y 4 pm - 7 pm.
												<br>Sábado de 10 am a 1:30 pm
											</div>
										</div>
									</div>
									<fieldset id="always" class="">
										<div class="row text-center">
											<div class="col-md-12">
												<h5 class="text-left">Datos del Depósito <span id="mostrarFichas" class="badge-warning p-2 small float-right" style="cursor: pointer;">Donde puedo encontrar estos Datos? <i class="mdi mdi-spotlight-beam"></i></span></h5>
											</div>
										</div>
										<div class="row text-center">
											<div class="col-sm">
												<div class="form-group text-left">
													<label style="font-weight: bold">Seleccione tipo de depósito <span class="required">*</span>
													</label>
													<select class="form-control" id="tipo_deposito" name="tipo_deposito">
														<option value="Express" selected>Comprar tiempo aire</option>
														<option value="ExpressPedidos">Pedido de equipos o accesorios</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4 form-group">
												<label>Fecha del Depósito <span class="required">*</span>
												</label>
												<input type="text" class="form-control" id="datepicker1" name="fecha_deposito" placeholder="Fecha cuando se realizo el depósito" required readonly>
											</div>
											<div class="col-md-4 form-group">
												<label>Banco <span class="required">*</span>
												</label>
												<select class="form-control" name="banco" id="banco" required="">
													<option selected="" value="">Seleccione un Banco</option>
													<option value="1">Banco Azteca</option>
													<option value="2">BBVA Bancomer</option>
													<option value="3">Banorte</option>
													<option value="4">Coppel</option>
													<option value="5">Banamex</option>
													<option value="6">Inbursa</option>
												</select>
											</div>
											<div class="col-md-4 form-group">
												<label>Cuenta <span class="required">*</span>
												</label>
												<select class="form-control" name="cuentas" id="cuentas" required>
													<option selected value="">Seleccione un Cuenta</option>
												</select>
											</div>
										</div>
										<div class="row">
												<div class="col-md-4 form-group">
													<label>Monto <span class="required">*</span>
													</label>
													<input type="number" class="form-control" name="monto" min="500" placeholder="Monto Depositado" step=".01" onkeypress="return soloNum(event);" required />
												</div>

												<div class="col-md-4 form-group">
													<label>No. Movimiento <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="movimiento" maxlength="20" onkeypress="return soloNum(event);" required placeholder="No de movimiento" style="text-align: center;" />
												</div>
												<div class="col-md-4 form-group">
													<label>VOUCHER <span class="required">*</span>
													</label>
													<input type="file" name="voucher" required accept=".jpg,.png,.pdf,.jpeg.gif" style="opacity: 1 !important; position: static !important" />
												</div>
										</div>
										<div class="row" id='inputFolio' hidden>
											<div class="col-4">
												<div class="form-group">
													<label>No. de Folio del pedido <span class="required">*</span>
													</label>
													<input type="text" class="form-control" id="folio" name="folio" maxlength="20" onkeypress="return soloNum(event);" placeholder="No. de Folio del pedido" />
												</div>
											</div>
										</div>
										<!-- <div class="row" id='inputMovimiento'>

										</div> -->
									</fieldset>
									<fieldset id="si_fact" disabled class="d-none">
										<div class="row text-center">
											<div class="col-12">
												<h3>Datos del Facturación</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label>Nombre <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="nombre" maxlength="60" required placeholder="Nombre del
								                                            cliente" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Calle <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="calle" maxlength="80" required placeholder="Calle" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Colonia <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="colonia" placeholder="colonia" required maxlength="60" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label>Localidad <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="localidad" required placeholder="Localidad" maxlength="60" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Municipio o Delegación <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="municipio" required placeholder="Municipio" maxlength="60" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Estado <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="estado" placeholder="Entidad
								                                            Federativa" maxlength="60" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label>País <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="pais" required readonly value="México" placeholder="País" maxlength="40" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>No. Interior <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="interior" required placeholder="Número interior" maxlength="10" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>No. Exterior <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="exterior" placeholder="Número
								                                            exterior" maxlength="10" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Código Postal <span class="required">*</span>
													</label>
													<input type="text" class="form-control" name="cp" pattern="\d{5,8}" placeholder="Código Postal" minlength="5" maxlength="8" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label>e-mail</label>
													<input type="email" class="form-control" name="correo2" placeholder="Correo
								                                            Electrónico" maxlength="30" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>Teléfono <span class="required">*</span>
													</label>
													<input type="tel" class="form-control" name="tel2" required placeholder="Teléfono de contacto" pattern="\d{10}" title="telefono a
								                                            10 dígitos" maxlength="10" minlength="10" />
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label>RFC <span class="required">*</span>
													</label>
													<input type="text" class="form-control" placeholder="Registro Federal de Contribuyentes" name="rfc" required pattern="^([A-ZÑ&]{3,4})(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01]))([A-Z\d]{3})$" title="El RFC no tiene el formato correcto, es invalido" maxlength="13" minlength="12" />
												</div>
											</div>
										</div>
									</fieldset>
									<div id="site-2-4" class="row justify-content-center d-none">
										<div class="col-auto">
											<button type="submit" name="enviar" class="btn btn-success">Reportar Depósito</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header depositos-sald__head" id="headingThree">
					        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          DEPÓSITOS REALIZADOS
					        </button>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">
								<div class="table-responsive" id="site-2-5">
		                            <table class="table table-sm table-bordered" id="depositos_table" style="width: 100%">
		                                <thead>
		                                    <tr>
		                                        <th>Tipo</th>
		                                        <th>Fecha Depósito</th>
		                                        <th>Monto</th>
		                                        <th>Banco</th>
		                                        <th>Movimiento</th>
		                                        <th>Autorizó</th>
		                                        <th>Status</th>
		                                        <th>Acciones</th>
		                                    </tr>
		                                </thead>
		                            </table>
		                        </div>
							</div>
						</div>
					</div>

					<div class="action-btn">
						<a href="" class="btn btn-info action-btn--tut">Ver el  <br>tutorial</a>
						<a href="" class="btn btn-success action-btn--faq">Dudas o <br>preguntas</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Modal Dafult Fichas SelectBanco-->
<div class="modal fade modal-comm modal-fichasbanco" id="modalSelBanco" tabindex="-1" aria-labelledby="modalSelBancoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSelBancoLabel">Primero selecciona el <strong>Banco</strong> en donde realizaste el <strong>Depósito</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/depositos/selBanco.jpg" class="d-block w-100" alt="Selecciona el Banco en que realizaste el deposito">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Banco Azteca-->
<div class="modal fade modal-comm modal-fichasbanco show" id="mfichasAzt" tabindex="-1" aria-labelledby="mfichasAztLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mfichasAztLabel">Fichas de depósito <strong>Cuenta Banco Azteca</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="carouselAzteca" class="carousel slide carousel-fichas" data-ride="carousel">
					<a class="carousel-control-prev" href="#carouselAzteca" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon " aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<ol class="carousel-indicators">
						<li data-target="#carouselAzteca" data-slide-to="0" class="active"></li>
						<li data-target="#carouselAzteca" data-slide-to="1"></li>
						<li data-target="#carouselAzteca" data-slide-to="2"></li>
					</ol>
					<a class="carousel-control-next" href="#carouselAzteca" role="button" data-slide="next">
						<span class="carousel-control-next-icon " aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="assets/images/depositos/fichas/azteca-1.jpg" class="d-block w-100" alt="Banco Azteca">
						</div>
						<div class="carousel-item">
							<img src="assets/images/depositos/fichas/azteca-2.jpg" class="d-block w-100" alt="Banco Azteca">
						</div>
						<div class="carousel-item">
							<img src="assets/images/depositos/fichas/azteca-1.jpg" class="d-block w-100" alt="Banco Azteca">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Banco BBVA-->
<div class="modal fade modal-comm modal-fichasbanco show" id="mfichasBBVA" tabindex="-1" aria-labelledby="mfichasBBVALabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mfichasBBVALabel">Fichas de depósito <strong>Cuenta Banco BBVA Bancomer</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="carouselBBVA" class="carousel slide carousel-fichas" data-ride="carousel">
					<a class="carousel-control-prev" href="#carouselBBVA" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<ol class="carousel-indicators">
						<li data-target="#carouselBBVA" data-slide-to="0" class="active"></li>
						<li data-target="#carouselBBVA" data-slide-to="1"></li>
						<li data-target="#carouselBBVA" data-slide-to="2"></li>
						<li data-target="#carouselBBVA" data-slide-to="3"></li>
						<li data-target="#carouselBBVA" data-slide-to="4"></li>
						<li data-target="#carouselBBVA" data-slide-to="5"></li>
						<li data-target="#carouselBBVA" data-slide-to="6"></li>
						<li data-target="#carouselBBVA" data-slide-to="7"></li>
						<li data-target="#carouselBBVA" data-slide-to="8"></li>
						<li data-target="#carouselBBVA" data-slide-to="9"></li>
						<li data-target="#carouselBBVA" data-slide-to="10"></li>
						<li data-target="#carouselBBVA" data-slide-to="11"></li>
						<li data-target="#carouselBBVA" data-slide-to="12"></li>
					</ol>
					<a class="carousel-control-next" href="#carouselBBVA" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<div class="carousel-inner">
						<div class="carousel-item active"><img src="assets/images/depositos/fichas/BBVA-1.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-2.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-3.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-4.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-5.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-6.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-7.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-8.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-9.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-10.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-11.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-12.jpg" class="d-block w-100" alt="BBVA"></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/BBVA-0.jpg" class="d-block w-100" alt="BBVA"></div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Banco Banorte-->
<div class="modal fade modal-comm modal-fichasbanco show" id="mfichasBan" tabindex="-1" aria-labelledby="mfichasBanLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mfichasBanLabel">Fichas de depósito <strong>Cuenta Banco Banorte</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="carouselBan" class="carousel slide carousel-fichas" data-ride="carousel">
					<a class="carousel-control-prev" href="#carouselBan" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<ol class="carousel-indicators">
						<li data-target="#carouselBan" data-slide-to="0" class="active"></li>
						<li data-target="#carouselBan" data-slide-to="1"></li>
						<li data-target="#carouselBan" data-slide-to="2"></li>
						<li data-target="#carouselBan" data-slide-to="3"></li>
						<li data-target="#carouselBan" data-slide-to="4"></li>
						<li data-target="#carouselBan" data-slide-to="5"></li>
						<li data-target="#carouselBan" data-slide-to="6"></li>
						<li data-target="#carouselBan" data-slide-to="7"></li>
						<li data-target="#carouselBan" data-slide-to="8"></li>
						<li data-target="#carouselBan" data-slide-to="9"></li>
						<li data-target="#carouselBan" data-slide-to="10"></li>
					</ol>
					<a class="carousel-control-next" href="#carouselBan" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<div class="carousel-inner">
						<div class="carousel-item active"><img src="assets/images/depositos/fichas/Banorte-1.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-2.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-3.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-4.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-5.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-6.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-7.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-8.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-9.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-10.jpg" class="d-block w-100" alt="..."></div>
						<div class="carousel-item"><img src="assets/images/depositos/fichas/Banorte-11.jpg" class="d-block w-100" alt="..."></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Banco Coppel-->
<div class="modal fade modal-comm modal-fichasbanco show" id="mfichasCop" tabindex="-1" aria-labelledby="mfichasCopLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mfichasCopLabel">Fichas de depósito <strong>Cuenta Banco Coppel</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="carouselCop" class="carousel slide carousel-fichas" data-ride="carousel">
					<a class="carousel-control-prev" href="#carouselCop" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<ol class="carousel-indicators">
						<li data-target="#carouselCop" data-slide-to="0" class="active"></li>
						<li data-target="#carouselCop" data-slide-to="1"></li>
					</ol>
					<a class="carousel-control-next" href="#carouselCop" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="assets/images/depositos/fichas/Coppel-1.jpg" class="d-block w-100" alt="Coppel">
						</div>
						<div class="carousel-item">
							<img src="assets/images/depositos/fichas/Coppel-2.jpg" class="d-block w-100" alt="Coppel">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Banco Inbursa-->
<div class="modal fade modal-comm modal-fichasbanco show" id="mfichasInb" tabindex="-1" aria-labelledby="mfichasInbLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mfichasInbLabel">Fichas de depósito <strong>Cuenta Banco Inbursa</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="carouselInbursa" class="carousel slide carousel-fichas" data-ride="carousel">
					<a class="carousel-control-prev" href="#carouselInbursa" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<ol class="carousel-indicators">
						<li data-target="#carouselInbursa" data-slide-to="0" class="active"></li>
						<li data-target="#carouselInbursa" data-slide-to="1"></li>
					</ol>
					<a class="carousel-control-next" href="#carouselInbursa" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="assets/images/depositos/fichas/Inbursa-1.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="assets/images/depositos/fichas/Inbursa-2.jpg" class="d-block w-100" alt="...">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#banco').on('change', function() {
		let tagInfoRefencia = $('#mostrarFichas'),
		    numbank         = this.value;

		if (numbank !== '') {
			if (tagInfoRefencia.hasClass('badge-warning')) {
				tagInfoRefencia.removeClass('badge-warning');
				tagInfoRefencia.addClass('badge-info');
			}
		} else {
			tagInfoRefencia.removeClass('badge-info');
			tagInfoRefencia.addClass('badge-warning');
		}
	});
	$('#mostrarFichas').on('click', function (){
		let $tipoFicha = $('#banco').val(),
		$selecBank     = $('#modalSelBanco'),
		$fichasAzteca  = $('#mfichasAzt'),
		$fichasBBVA    = $('#mfichasBBVA'),
		$fichasBanorte = $('#mfichasBan'),
		$fichasCoppel  = $('#mfichasCop'),
		// $fichasBanamx  = $('#mfichasBanmx'),
		$fichasInbursa = $('#mfichasInb');

		switch ($tipoFicha) {
		  case '1':
		  	$modalFichas = $fichasAzteca;
		    break;
		  case '2':
		  	$modalFichas = $fichasBBVA;
		    break;
		  case '3':
		  $modalFichas = $fichasBanorte;
		    break;
		  case '4':
		  $modalFichas = $fichasCoppel;
		    break;
		  // case '5':
		  // $modalFichas = $fichasBanamx;
		  //   break;
		  case '6':
		  $modalFichas = $fichasInbursa;
		    break;
		  default:
		  $modalFichas = $selecBank;
		  	console.log('Seleccione un banco en:')
		    break;
		}

		$modalFichas.modal('show');
	});
</script>
