
<section class="winnings">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-12 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">Dudas o preguntas</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ">
      <div class="box-tm">
        <div class="questions">
          <nav aria-label="breadcrumb" class="mb-2">
            <ol class="breadcrumb py-0">
              <li class="breadcrumb-item"><a href="views/inicio.html" class="pageto">Inicio </a></li>
              <li class="breadcrumb-item active" aria-current="page">Dudas o preguntas</li>
            </ol>
          </nav>
          <div id="carouselExampleCaptions" class="carousel slide carousel-qs" data-ride="false" data-pause="false">
            <a class="carousel-control-prev carousel-qs__control" href="#carouselExampleCaptions" role="button" data-slide="prev">

              <span class="sr-only">Previous</span>
              <i class="fas fa-sort-up fa-2x"></i>
            </a>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="accordion questions__accor accdq-sec" id="ques-store">
                  <div class="card q-content">
                    <div class="card-header" id="headingOne">
                      <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          USO DE LA PLATAFORMA
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#ques-store">
                      <div class="card-body q-content__body">
                        <div class="content-exp">
                          <ul>
                            <li>
                              <h3>¿Qué es Tienda Express?</h3>
                              <p>
                                Tienda Express es la plataforma que te proporciona Microtec por ser un cliente mayorista.
                                <br>
                                Ésta es una herramienta de gran utilidad para hacer crecer tu negocio, en ella, se encuentran reunidos los trámites y servicios más solicitados por los clientes, además de otros servicios adicionales con los cuales puedes generar excelentes ganancias.

                              </p>
                            </li>
                            <li>
                              <h3>¿Qué o cuanto requiero comprar para ser cliente mayorista?</h3>
                              <p>
                                Para ser un cliente mayorista se debe comprar mínimo 10 chips* al momento que nuestro personal de ventas acude a visitarte, en ese momento se te da de alta en Tienda Express como cliente mayorista.
                                <br>
                                Así de fácil y sencillo puedes acceder a Tienda Express, tener todos los beneficios que ésta incluye y realizar compra de chips y equipos a precio especial.
                              </p>
                              <p>*Pueden adquirirse más de esos 10 chips u/y otros equipos que lleve en el momento el personal de Microtec.</p>
                            </li>
                            <li>
                              <h3>¿Qué puedo realizar con tienda Express?</h3>
                              <p>
                                Con Tienda Express, puedes ofrecer a tus clientes los trámites y servicios más solicitados y genera excelentes ganancias por ello; las funciones que puedes realizar son:
                              </p>
                              <ul class="list-unstyled">
                                <li> - Recargas de tiempo aire,</li>
                                <li> - Pago de servicios (facturas Telcel, TELMEX, CFE, MEGACABLE. TOTALPLAY, entre otros),</li>
                                <li> - Cambio de compañía, </li>
                                <li> - Recuperación de número Telcel, </li>
                                <li> - Venta de chip Telcel,</li>
                                <li> - Venta de celular a crédito Payjoy </li>
                                <li> - Venta de Internet en Casa</li>
                                <li> - Solicitud de celular a crédito Telcel</li>
                                <li> - Solicitudes de planes Telcel</li>
                                <li> - Renovaciones de planes Telcel </li>
                              </ul>
                              <p>
                                Además, tienes acceso a la tienda virtual de Microtec para realizar la compra de los equipos y chips que requieres para tu negocio de forma rápida y segura.
                                <br>
                                También podrás tener el control administrativo de lo que realizas y las ganancias generadas por cada trámite y servicio.
                                <br>
                                ¡Todo lo que necesitas para tu negocio lo encuentras en un solo lugar!
                              </p>
                            </li>
                            <li>
                              <h3>Tienda Express, ¿tiene algún costo?</h3>
                              <p>
                                El acceso a la plataforma de Tienda Express no tiene costo alguno, éste es un beneficio que obtienes al ser cliente mayorista de Microtec.
                                <br>
                                *Para poder realizar las funciones de: “recargas, pago de servicios, entre otras”, es necesario contar con “saldo”, para ello, se debe de hacer una inversión o depósito del cual se ira descontando el monto correspondiente a cada una de estas funciones; el dinero de esta inversión la recuperas en físico al realizar el cobro, más, las ganancias que se generen (dependiendo del caso que aplique).
                                <br>
                                <small>*Para mayor información consulta la sección de Dudas y Preguntas correspondiente a “Depósitos”.</small>
                              </p>
                            </li>
                            <li>
                              <h3>No recuerdo mi contraseña para ingresar a la plataforma.</h3>
                              <p>
                                Para recuperar tu contraseña:
                              </p>
                              <ol class="">
                                <li>  Ingresa a la página de Tienda Express <a href="https://www.micro-tec.com.mx/pagina/tiendaExpress/login.php" target="_blank">https://www.micro-tec.com.mx/pagina/tiendaExpress/login.php</a></li>
                                <li>  Da clic en la opción “Recuperar contraseña” </li>
                                <li>  Coloca el correo electrónico vinculado a tu cuenta.</li>
                                <li>  Te llegará un correo con las indicaciones para realizar el cambio de contraseña (en caso de no visualizarlo en la bandeja de inicio, revisa en los mensajes de SPAM)</li>
                                <li>  Da clic en la liga que viene dentro del correo.</li>
                                <li>  Se te va a redirigir a la página de Tienda Express, se te pedirá colocar tu nueva contraseña y repetirla.</li>
                                <li> Coloca tu nueva contraseña y da clic en “Cambiar contraseña”</li>
                                <li>  Tu contraseña se habrá cambiado con éxito y te encontrarás dentro de la plataforma de Tienda Express.</li>
                              </ol>
                            </li>
                            <li>
                              <h3>¿Puedo abrir mi sesión en diferentes dispositivos?</h3>
                              <p>
                                No se pueden abrir varias sesiones es simultaneo, es decir, con tu usuario solo puedes conectarte a 1 dispositivo a la vez.
                                <br>
                                Si quieres abrir sesión en un dispositivo diferente, primero cierra la sesión en donde te encuentres conectado y posteriormente iniciar sesión en el nuevo dispositivo.
                              </p>
                            </li>
                            <li>
                              <h3>Al ingresar a cualquier botón me aparece el mensaje “Red no disponible”</h3>
                              <p>
                                Este mensaje aparece cuando la sesión a caducado, es decir, que se dejó la plataforma abierta y sin actividad por un lapso largo de tiempo. En este caso, la plataforma no va a mostrar el contenido, no va a ejecutar ninguna función y/o no guardará los cambios que se realicen.
                                <br>
                                Inicia sesión nuevamente para acceder sin problema a cualquier botón.
                              </p>
                            </li>
                            <li>
                              <h3>La plataforma se queda ejecutando un proceso y no indica si se ha realizado correctamente.</h3>
                              <p>
                                Cuando se presenta la situación de que el sistema se queda procesando un trámite o servicio y no lo finaliza ni indica que se realizó correctamente, puede ser por:
                              </p>
                              <ol class="">
                                <li>1.  Falla de conexión a internet.
                                  <ul class="list-unstyled">
                                    <li>- Verifica que tu equipo se encuentre con conexión estable a internet.</li>
                                    <li>- Vuelve a cargar la página (presiona F5) o sal del sistema e ingresa nuevamente.</li>
                                    <li>- Revisa que no se haya ejecutado el proceso que estabas realizando.</li>
                                    <li>- Ejecuta nuevamente el trámite o servicio.</li>
                                  </ul>
                                </li>
                                <li>2.  Sesión caducada
                                  <ul class="list-unstyled">
                                    <li>- Vuelve a cargar la página (presiona F5) o sal del sistema e ingresa nuevamente.</li>
                                    <li>- Revisa que no se haya ejecutado el proceso que estabas realizando.</li>
                                    <li>- Ejecuta nuevamente el trámite o servicio.</li>
                                  </ul>
                                </li>
                              </ol>
                            </li>
                            <li>
                              <h3>Mi sesión ha caducado, ¿qué debo hacer?</h3>
                              <ul class="list-unstyled">
                                <li>- Opción1: Vuelve a cargar la página presionando F5 o dando clic en el ícono   ubicado del lado izquierdo junto la barra de navegación.</li>
                                <li>-  Opción 2: Cierra la página de la plataforma e inicia sesión nuevamente.</li>
                              </ul>
                            </li>
                            <li>
                              <h3>¿Con quién me comunico en caso de problemas con la plataforma?</h3>
                              <p>En caso de tener dudas o problemas con la plataforma que no se pueden resolver con la información descrita en la sección de “Dudas y preguntas”, contacta al equipo de soporte Microtec, para contactarlos:</p>
                              <ul class="list-unstyled">
                                <li>- Da clic en el ícono de Chat que se localiza en la parte inferior del lado derecho.</li>
                                <li>- Envía un correo a <a href="mailto:soporte@microtecmx.com">soporte@microtecmx.com</a>, indica el motivo de contacto y tu número telefónico para que puedan ponerse en contacto contigo.</li>
                              </ul>
                            </li>

                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingTwo">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        DEPÓSITOS
                      </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#ques-store">
                      <div class="card-body q-content__body">
                        <div class="content-exp">
                          <ul>
                            <li>
                              <h3>¿Qué es “bolsa de saldo”?</h3>
                              <p>
                                *La bolsa de saldo es la inversión que se realiza, convertida en dinero electrónico del cual se va restando el dinero correspondiente al trámite o servicio realizado. Esta inversión se recupera en físico (dinero tangible) al momento de realizar el cobro en tiempo real al cliente.
                                <br>
                                <small>
                                  * Tienda Express es una plataforma prepago, por ello, se requiere hacer una inversión de dinero para poder ejecutar algunas funciones.
                                </small>
                              </p>
                            </li>
                            <li>
                              <h3>¿Para qué puedo utilizar la bolsa de saldo?</h3>
                              <p>
                                El dinero de la bolsa de saldo la puedes utilizar para:
                              </p>
                              <ul class="list-unstyled">
                                <li>- Recargas de tiempo aire</li>
                                <li>- Pago de servicios</li>
                                <li>- Pago de facturas Telcel</li>
                                <li>- Pago de Payjoy</li>
                                <li>- Activar chips preactivos</li>
                                <li>- Aplicar rentas y/o depósitos en la venta del plan Internet en Casa</li>
                              </ul>
                            </li>
                            <li>
                              <h3>¿Qué pasa si no tengo saldo disponible?</h3>
                              <p>Se va a poder ingresar de manera normal a la plataforma de Tienda Express, pero, al no tener dinero disponible en la bolsa de saldo no se podrán ejecutar las funciones de:</p>
                              <ul class="list-unstyled">
                                <li>- Recargas de tiempo aire</li>
                                <li>- Pago de servicios</li>
                                <li>- Pago de facturas Telcel</li>
                                <li>- Pago de Payjoy</li>
                                <li>- Activar chips preactivos</li>
                                <li>- Aplicar rentas y/o depósitos en la venta del plan Internet en Casa</li>
                              </ul>
                              <p>
                                Se pueden ejecutar las demás funciones como: cambio de compañía, recuperación de número, activar chips, venta de celular a crédito Payjoy, entre otras.
                              </p>
                            </li>
                            <li>
                              <h3>¿Cómo puedo obtener saldo?</h3>
                              <p>
                                Para tener dinero disponible en la bolsa de saldo se debe depositar (la cantidad deseada) en alguna de las cuentas de Microtec.
                              </p>
                              <ol>
                                <li>Elige la cuenta de banco en la que vas a realizar el depósito.
                                  <br>
                                  <img src="assets/images/fns-admin/deposito/dep1.png" alt="Cuentas para abonar Saldo" class="img-fluid">
                                </li>
                                <li>Realiza el depósito y guarda el voucher/ticket/comprobante del depósito (éste es muy importante).</li>
                                <li>Ingresa a “Tienda Express”, para reportar tu depósito.</li>
                                <li>¡Listo!, aparecerá tu dinero electrónico en la bolsa de saldo.</li>
                              </ol>
                            </li>
                            <li>
                              <h3>¿Cuál es la cantidad mínima y máxima que se puede depositar a la bolsa de saldo?</h3>
                              <p>
                                *El depósito mínimo que se acepta es de $500.00 m/n (quinientos pesos). No hay tope en la cantidad máxima a depositar.
                                <br>
                                *Te recomendamos depositar la cantidad que te permita tener el saldo suficiente para realizar recargas, pago de servicios, pago de facturas Telcel, pago de Payjoy, activación de chips preactivos, y, aplicar rentas y/o depósitos en la venta del plan Internet en Casa, por lo menos durante 1 semana.
                              </p>
                            </li>
                            <li>
                              <h3>¿Cómo reporto mi depósito de saldo?</h3>
                              <ol>
                                <li>Realiza el depósito en alguna de las cuentas de Microtec.</li>
                                <li>Guarda el baucher/ticket/comprobante del depósito (éste es muy importante).</li>
                                <li>Ingresa a Tienda Express y dirigente al ícono <img src="assets/images/fns-admin/deposito/dep2.png" class="img-icon" width="24px" height="auto"> para desplegar el menú.</li>
                                <li>Da clic en la sección “Depósito de saldo”.</li>
                                <li>Selecciona la opción “Reportar depósito”.</li>
                                <li> Se desplegará el menú para realizar el reporte de saldo. Indica si requieres factura fiscal o no.</li>
                                <li>Captura los datos que se solicitan (Fecha del depósito, Banco, Cuenta, Monto, No. movimiento) y adjunta la fotografía del voucher.</li>
                                <li>Da clic en el botón verde “Reportar depósito” y listo.</li>
                              </ol>
                            </li>
                            <li>
                              <h3>¿Cuál es el No. de movimiento en mi voucher/comprobante?</h3>
                              <p>En los datos que se requieren para reportar el depósito:</p>
                              <ul>
                                <li>- Da clic en ícono <img src="assets/images/fns-admin/deposito/dep2.png" class="img-icon" width="24px" height="auto">  ubicado a un lado de  <img src="assets/images/fns-admin/deposito/dep2.png" class="img-icon" width="24px" height="auto">. </li>
                                <li>- Se abrirá una imagen que indica el número de movimiento que debes colocar*.</li>
                                <li>- Ubica este número en el voucher y captúralo.</li>
                              </ul>
                              <small>*El no. de movimiento en el voucher va a depender del banco en el que se haya depositado.</small>
                            </li>
                            <li>
                              <h3>Horarios para reportar saldo</h3>
                              <p>Los horarios en los que puedes reportar saldo son:</p>
                              <ul class="list-unstyled">
                                <li>- Lunes a Viernes de 10:00am a 3:00pm y de 4:00pm a 7:00pm</li>
                                <li>- Sábado de 10:00am a 1:30pm.</li>
                                <li>- Domingo NO HAY SERVICIO.</li>
                              </ul>
                            </li>
                            <li>
                              <h3>¿En cuánto tiempo se ve reflejado mi depósito de saldo?</h3>
                              <p>
                                Una vez que se haya reportado el depósito en el sistema de Tienda Express, el dinero electrónico en la bolsa de saldo se ve reflejado en un lapso máximo de 15 minutos.
                              </p>
                            </li>
                            <li>
                              <h3>No se ve reflejado el depósito de saldo</h3>
                              <p>
                                Si reportaste tu saldo en el sistema de Tienda Express, ya han transcurrido 15 minutos y no se ve reflejado el dinero en la bolsa de saldo:
                              </p>
                              <ul class="list-unstyled">
                                <li>- Cierra la página de Tienda Express e ingresa nuevamente, con esto se debe de refrescar tu usuario y mostrar la información actualizada.</li>
                                <li>- Verifica que haya sido aprobado tu reporte de saldo*.</li>
                                <li>- Da clic en el ícono de chat que se ubica en la parte inferior derecha, para contactar a un analista de TMK que se encuentre disponible para ayudarte.</li>
                              </ul>
                              <small>*Para revisar el status de tu reporte de depósito ingresa a: Depósito de saldo  Depósitos realizados. Ubica el depósito del cual hiciste el reporte y verifica el status que aparece. </small>
                              <br>
                              <small>
                                En caso de que haya sido rechazado, revisa los comentarios del rechazo dando clic en el icono    ubicado en la columna de “Acciones”. Corrige lo que se solicita y/o vuelve a capturar el depósito.
                              </small>
                            </li>
                            <li>
                              <h3>¿Dónde puedo revisar los depósitos que he realizado?</h3>
                              <p>Para revisar los depósitos de saldo que se han realizado:</p>
                              <ol>
                                <li>Da clic en el ícono <img src="assets/images/fns-admin/deposito/dep2.png" class="img-icon" width="24px" height="auto">  para desplegar el menú.</li>
                                <li>Ingresa a la sección “Depósito de saldo”.</li>
                                <li>Selecciona la opción “Depósitos realizados”</li>
                                <li>En forma de lista se muestran los depósitos reportados para la bolsa de saldo.</li>
                              </ol>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        MOVIMIENTOS DE SALDO
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        MIS GANANCIAS
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        RECARGAS
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="accordion questions__accor accdq-sec" id="ques-store2">
                  <div class="card q-content">
                    <div class="card-header" id="headingOne">
                      <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          PAGO DE SERVICIOS
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#ques-store2">
                      <div class="card-body q-content__body">
                        <div class="content-exp">
                          <ul>
                            <li>
                              <h3>¿Qué es Tienda Express?</h3>
                              <p>
                                Tienda Express es la plataforma que te proporciona Microtec por ser un cliente mayorista.
                                <br>
                                Ésta es una herramienta de gran utilidad para hacer crecer tu negocio, en ella, se encuentran reunidos los trámites y servicios más solicitados por los clientes, además de otros servicios adicionales con los cuales puedes generar excelentes ganancias.

                              </p>
                            </li>
                            <li>
                              <h3>¿Qué o cuanto requiero comprar para ser cliente mayorista?</h3>
                              <p>
                                Para ser un cliente mayorista se debe comprar mínimo 10 chips* al momento que nuestro personal de ventas acude a visitarte, en ese momento se te da de alta en Tienda Express como cliente mayorista.
                                <br>
                                Así de fácil y sencillo puedes acceder a Tienda Express, tener todos los beneficios que ésta incluye y realizar compra de chips y equipos a precio especial.
                              </p>
                              <p>*Pueden adquirirse más de esos 10 chips u/y otros equipos que lleve en el momento el personal de Microtec.</p>
                            </li>
                            <li>
                              <h3>¿Qué puedo realizar con tienda Express?</h3>
                              <p>
                                Con Tienda Express, puedes ofrecer a tus clientes los trámites y servicios más solicitados y genera excelentes ganancias por ello; las funciones que puedes realizar son:
                              </p>
                              <ul class="list-unstyled">
                                <li> - Recargas de tiempo aire,</li>
                                <li> - Pago de servicios (facturas Telcel, TELMEX, CFE, MEGACABLE. TOTALPLAY, entre otros),</li>
                                <li> - Cambio de compañía, </li>
                                <li> - Recuperación de número Telcel, </li>
                                <li> - Venta de chip Telcel,</li>
                                <li> - Venta de celular a crédito Payjoy </li>
                                <li> - Venta de Internet en Casa</li>
                                <li> - Solicitud de celular a crédito Telcel</li>
                                <li> - Solicitudes de planes Telcel</li>
                                <li> - Renovaciones de planes Telcel </li>
                              </ul>
                              <p>
                                Además, tienes acceso a la tienda virtual de Microtec para realizar la compra de los equipos y chips que requieres para tu negocio de forma rápida y segura.
                                <br>
                                También podrás tener el control administrativo de lo que realizas y las ganancias generadas por cada trámite y servicio.
                                <br>
                                ¡Todo lo que necesitas para tu negocio lo encuentras en un solo lugar!
                              </p>
                            </li>
                            <li>
                              <h3>Tienda Express, ¿tiene algún costo?</h3>
                              <p>
                                El acceso a la plataforma de Tienda Express no tiene costo alguno, éste es un beneficio que obtienes al ser cliente mayorista de Microtec.
                                <br>
                                *Para poder realizar las funciones de: “recargas, pago de servicios, entre otras”, es necesario contar con “saldo”, para ello, se debe de hacer una inversión o depósito del cual se ira descontando el monto correspondiente a cada una de estas funciones; el dinero de esta inversión la recuperas en físico al realizar el cobro, más, las ganancias que se generen (dependiendo del caso que aplique).
                                <br>
                                <small>*Para mayor información consulta la sección de Dudas y Preguntas correspondiente a “Depósitos”.</small>
                              </p>
                            </li>
                            <li>
                              <h3>No recuerdo mi contraseña para ingresar a la plataforma.</h3>
                              <p>
                                Para recuperar tu contraseña:
                              </p>
                              <ol class="">
                                <li>  Ingresa a la página de Tienda Express <a href="https://www.micro-tec.com.mx/pagina/tiendaExpress/login.php" target="_blank">https://www.micro-tec.com.mx/pagina/tiendaExpress/login.php</a></li>
                                <li>  Da clic en la opción “Recuperar contraseña” </li>
                                <li>  Coloca el correo electrónico vinculado a tu cuenta.</li>
                                <li>  Te llegará un correo con las indicaciones para realizar el cambio de contraseña (en caso de no visualizarlo en la bandeja de inicio, revisa en los mensajes de SPAM)</li>
                                <li>  Da clic en la liga que viene dentro del correo.</li>
                                <li>  Se te va a redirigir a la página de Tienda Express, se te pedirá colocar tu nueva contraseña y repetirla.</li>
                                <li> Coloca tu nueva contraseña y da clic en “Cambiar contraseña”</li>
                                <li>  Tu contraseña se habrá cambiado con éxito y te encontrarás dentro de la plataforma de Tienda Express.</li>
                              </ol>
                            </li>
                            <li>
                              <h3>¿Puedo abrir mi sesión en diferentes dispositivos?</h3>
                              <p>
                                No se pueden abrir varias sesiones es simultaneo, es decir, con tu usuario solo puedes conectarte a 1 dispositivo a la vez.
                                <br>
                                Si quieres abrir sesión en un dispositivo diferente, primero cierra la sesión en donde te encuentres conectado y posteriormente iniciar sesión en el nuevo dispositivo.
                              </p>
                            </li>
                            <li>
                              <h3>Al ingresar a cualquier botón me aparece el mensaje “Red no disponible”</h3>
                              <p>
                                Este mensaje aparece cuando la sesión a caducado, es decir, que se dejó la plataforma abierta y sin actividad por un lapso largo de tiempo. En este caso, la plataforma no va a mostrar el contenido, no va a ejecutar ninguna función y/o no guardará los cambios que se realicen.
                                <br>
                                Inicia sesión nuevamente para acceder sin problema a cualquier botón.
                              </p>
                            </li>
                            <li>
                              <h3>La plataforma se queda ejecutando un proceso y no indica si se ha realizado correctamente.</h3>
                              <p>
                                Cuando se presenta la situación de que el sistema se queda procesando un trámite o servicio y no lo finaliza ni indica que se realizó correctamente, puede ser por:
                              </p>
                              <ol class="">
                                <li>1.  Falla de conexión a internet.
                                  <ul class="list-unstyled">
                                    <li>- Verifica que tu equipo se encuentre con conexión estable a internet.</li>
                                    <li>- Vuelve a cargar la página (presiona F5) o sal del sistema e ingresa nuevamente.</li>
                                    <li>- Revisa que no se haya ejecutado el proceso que estabas realizando.</li>
                                    <li>- Ejecuta nuevamente el trámite o servicio.</li>
                                  </ul>
                                </li>
                                <li>2.  Sesión caducada
                                  <ul class="list-unstyled">
                                    <li>- Vuelve a cargar la página (presiona F5) o sal del sistema e ingresa nuevamente.</li>
                                    <li>- Revisa que no se haya ejecutado el proceso que estabas realizando.</li>
                                    <li>- Ejecuta nuevamente el trámite o servicio.</li>
                                  </ul>
                                </li>
                              </ol>
                            </li>
                            <li>
                              <h3>Mi sesión ha caducado, ¿qué debo hacer?</h3>
                              <ul class="list-unstyled">
                                <li>- Opción1: Vuelve a cargar la página presionando F5 o dando clic en el ícono   ubicado del lado izquierdo junto la barra de navegación.</li>
                                <li>-  Opción 2: Cierra la página de la plataforma e inicia sesión nuevamente.</li>
                              </ul>
                            </li>
                            <li>
                              <h3>¿Con quién me comunico en caso de problemas con la plataforma?</h3>
                              <p>En caso de tener dudas o problemas con la plataforma que no se pueden resolver con la información descrita en la sección de “Dudas y preguntas”, contacta al equipo de soporte Microtec, para contactarlos:</p>
                              <ul class="list-unstyled">
                                <li>- Da clic en el ícono de Chat que se localiza en la parte inferior del lado derecho.</li>
                                <li>- Envía un correo a <a href="mailto:soporte@microtecmx.com">soporte@microtecmx.com</a>, indica el motivo de contacto y tu número telefónico para que puedan ponerse en contacto contigo.</li>
                              </ul>
                            </li>

                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingTwo">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CAMBIO DE COMPAÑÍA
                      </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#ques-store2">
                      <div class="card-body q-content__body">
                        Some placeholder content for the second accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        VENTA DE CHIPS
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store2">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        CELULAR CON CRÉDITO PAYJOY
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store2">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card q-content">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        CELULAR A CRÉDITO TELCEL
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#ques-store2">
                      <div class="card-body q-content__body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <a class="carousel-control-next carousel-qs__control" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              <i class="fas fa-sort-down"></i>
            </a>
          </div>
          <div class="depositos-sald">
            <div class="action-btn">
              <a href="" class="btn btn-info action-btn--tut">Ver Tutorial</a>
              <a href="" class="btn btn-success action-btn--faq">Dudas o preguntas</a>
            </div>
          <div>

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.accdq-sec').on('show.bs.collapse', function () {
    $(this).addClass('only-onecard');
  })
  $('.accdq-sec').on('hide.bs.collapse', function () {
    $(this).removeClass('only-onecard');
    $('.accdq-sec .q-content').removeClass('only-onebtn');
  })

  $('.accdq-sec .btn-link').on('click', function () {
    $(this).parent().parent().addClass('only-onebtn');
  })
</script>