
<section class="pdoubts">
  <div class="row justify-content-center mb-3">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">Dudas</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-center pdoubts__header">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-6 titlehead">

          <h2 class="mb-3">Hola, ¿Cómo podemos <strong class="col-theme">ayudarte</strong>?</h2>

          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group w-100">
              <input type="text" class="form-control bg-light small" placeholder="Escribe tu duda.." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button"> <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__theme">

  <div class="flex flex-column mb-5 mt-4 faq-section ">
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion" id="accdudas">
          <div class="card">
            <div class="card-header" id="heading-1">
              <h5 class="mb-0">
                <a class="" role="button" data-toggle="collapse" href="#coldds-1" aria-expanded="false" aria-controls="coldds-1">
                  USO DE LA PLATAFORMA
                </a>
              </h5>
            </div>
            <div id="coldds-1" class="collapse" data-parent="#accdudas" aria-labelledby="heading-1">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item pageto" href="views/dudas/respuesta.html">¿Qué es Tienda Express?</a>
                  <a class="list-group-item">¿Qué o cuanto requiero comprar para ser cliente mayorista?</a>
                  <a class="list-group-item">¿Qué puedo realizar con tienda Express?</a>
                  <a class="list-group-item">Tienda Express, ¿tiene algún costo?</a>
                  <a class="list-group-item">No recuerdo mi contraseña para ingresar a la plataforma.</a>
                  <a class="list-group-item">¿Puedo abrir mi sesión en diferentes dispositivos?</a>
                  <a class="list-group-item">Al ingresar a cualquier botón me aparece el mensaje “Red no disponible” o “Error”</a>
                  <a class="list-group-item">La plataforma se queda ejecutando un proceso y no indica si se ha realizado correctamente.</a>
                  <a class="list-group-item">Mi sesión ha caducado, ¿qué debo hacer?</a>
                  <a class="list-group-item">¿Con quién me comunico en caso de problemas con la plataforma?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-2">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-2" aria-expanded="false" aria-controls="coldds-2">
                  DEPÓSITOS
                </a>
              </h5>
            </div>
            <div id="coldds-2" class="collapse" data-parent="#accdudas" aria-labelledby="heading-2">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item">¿Qué es “bolsa de saldo”?</a>
                  <a class="list-group-item">¿Para qué puedo utilizar la bolsa de saldo?</a>
                  <a class="list-group-item">¿Qué pasa si no tengo saldo disponible?</a>
                  <a class="list-group-item">¿Debo tener una cantidad mínima de saldo para utilizar Tienda Express?</a>
                  <a class="list-group-item">¿Cómo puedo obtener saldo?</a>
                  <a class="list-group-item">¿Cuál es la cantidad mínima y máxima que se puede depositar a la bolsa de saldo?</a>
                  <a class="list-group-item">¿Cómo reporto mi depósito de saldo?</a>
                  <a class="list-group-item">Horarios para reportar saldo</a>
                  <a class="list-group-item">¿En cuánto tiempo se ve reflejado mi depósito de saldo?</a>
                  <a class="list-group-item">No se ve reflejado el depósito de saldo</a>
                  <a class="list-group-item">¿Dónde puedo revisar los depósitos que he realizado?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-3">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-3" aria-expanded="false" aria-controls="coldds-3">
                  MOVIMIENTOS DE SALDO
                </a>
              </h5>
            </div>
            <div id="coldds-3" class="collapse" data-parent="#accdudas" aria-labelledby="heading-3">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item">¿Qué información puedo revisar en “Movimientos de saldo”?</a>
                  <a class="list-group-item">¿Cómo cobro mis comisiones?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-4">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-4" aria-expanded="false" aria-controls="coldds-4">
                  RECARGAS
                </a>
              </h5>
            </div>
            <div id="coldds-4" class="collapse" data-parent="#accdudas" aria-labelledby="heading-4">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item">¿Cómo realizar una recarga? </a>
                  <a class="list-group-item">¿La plataforma cobra comisión por cada recarga?</a>
                  <a class="list-group-item">El cliente indica que no le llegó la recarga, pero el sistema muestra que se realizó correctamente.</a>
                  <a class="list-group-item">¿Se pueden cancelar recargas?</a>
                  <a class="list-group-item">El sistema marca error al realizar una recarga</a>
                  <a class="list-group-item">¿Cómo verificar que se aplicó correctamente la recarga?</a>
                  <a class="list-group-item">Horario para realizar recargas</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-5">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-5" aria-expanded="false" aria-controls="coldds-5">
                  PAGO DE SERVICIOS
                </a>
              </h5>
            </div>
            <div id="coldds-5" class="collapse" data-parent="#accdudas" aria-labelledby="heading-5">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item">¿Qué servicios puedo cobrar?</a>
                  <a class="list-group-item">¿Cómo realizó un cobro de servicio?</a>
                  <a class="list-group-item">¿Cuál es el número de referencia de cada servicio?</a>
                  <a class="list-group-item">¿Puedo realizar un cobro si el cliente no lleva su recibo?</a>
                  <a class="list-group-item">¿Se pueden cobrar recibos vencidos?</a>
                  <a class="list-group-item">¿En cuánto tiempo se ve reflejado el pago de servicio?</a>
                  <a class="list-group-item">¿La plataforma cobra comisión por realizar el pago de servicios?</a>
                  <a class="list-group-item">En monto, ¿debo colocar la cantidad a pagar con o sin la comisión incluida?</a>
                  <a class="list-group-item">El cliente pago su servicio, pero indica que no se ve reflejado en la compañía correspondiente.</a>
                  <a class="list-group-item">El sistema marca error al realizar un pago de servicio</a>
                  <a class="list-group-item">¿Se puede cancelar un pago de servicio?</a>
                  <a class="list-group-item">¿Cómo verificar que se aplicó correctamente un pago de servicio?</a>
                  <a class="list-group-item">Horario para realizar pago de servicios</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-6">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-6" aria-expanded="false" aria-controls="coldds-6">
                  CAMBIO DE COMPAÑÍA
                </a>
              </h5>
            </div>
            <div id="coldds-6" class="collapse" data-parent="#accdudas" aria-labelledby="heading-6">
              <div class="card-body">
                <div class="list-group">
                  <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                  <a class="list-group-item pageto" href="views/dudas/respuesta2.html">¿Cómo realizó el proceso de cambio de compañía?</a>
                  <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                  <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header" id="heading-7">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-7" aria-expanded="false" aria-controls="coldds-7">
                RECUPERACIÓN DE NÚMERO
              </a>
            </h5>
          </div>
          <div id="coldds-7" class="collapse" data-parent="#accdudas" aria-labelledby="heading-7">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-8">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-8" aria-expanded="false" aria-controls="coldds-8">
                VENTA DE CHIPS
              </a>
            </h5>
          </div>
          <div id="coldds-8" class="collapse" data-parent="#accdudas" aria-labelledby="heading-8">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-9">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-9" aria-expanded="false" aria-controls="coldds-9">
                CELULAR CON CRÉDITO PAYJOY
              </a>
            </h5>
          </div>
          <div id="coldds-9" class="collapse" data-parent="#accdudas" aria-labelledby="heading-9">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-10">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-10" aria-expanded="false" aria-controls="coldds-10">
                COMPRA DE NUEVOS EQUIPOS
              </a>
            </h5>
          </div>
          <div id="coldds-10" class="collapse" data-parent="#accdudas" aria-labelledby="heading-10">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-11">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-11" aria-expanded="false" aria-controls="coldds-11">
                VENTA DE PLANES TARIFARIOS TELCEL
              </a>
            </h5>
          </div>
          <div id="coldds-11" class="collapse" data-parent="#accdudas" aria-labelledby="heading-11">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-12">
            <h5 class="mb-0">
              <a class="collapsed" role="button" data-toggle="collapse" href="#coldds-12" aria-expanded="false" aria-controls="coldds-12">
                CELULAR A CRÉDITO TELCEL
              </a>
            </h5>
          </div>
          <div id="coldds-12" class="collapse" data-parent="#accdudas" aria-labelledby="heading-12">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
                <a class="list-group-item">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
                <a class="list-group-item">exercitation ullamco laboris nisi ut aliquip ex ea commodo</a>
                <a class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

        </div>

      </div>
    </div>
  </div>
</section>
