<section class="winnings">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">Mis ganancias</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="depositos-sald">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header depositos-sald__head" id="headingOne">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Comisiones generadas
              </button>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm table-border table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Concepto</th>
                        <th scope="col">Realizadas</th>
                        <th scope="col">Concluidas con éxito</th>
                        <th scope="col">Autorizadas para pago</th>
                        <th>Ganancia total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Venta de payjoy</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>$12000</td>
                      </tr>
                      <tr>
                        <td>Portabilidad</td>
                        <td>10</td>
                        <td>8</td>
                        <td>8</td>
                        <td>$350</td>
                      </tr>
                      <tr>
                        <td>TAF concluida</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Internet en casa concluido</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="4" class="text-center">TOTAL</td>
                        <td>$234,899</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header depositos-sald__head" id="headingTwo">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Cobro de comisiones
              </button>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body winnings__tabs">
                <nav>
                  <div class="nav nav-tabs justify-content-between" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link navitem--blue active" id="nav-transb-tab" data-toggle="tab" href="#nav-transb" role="tab" aria-controls="nav-transb" aria-selected="true">
                      <img src="assets/images/comisiones/trasferencia.png" alt="Transferencia bancaria" class="img-fluid">
                      <span class="title">Transferencia bancaria</span>
                    </a>
                    <a class="nav-item nav-link navitem--green" id="nav-gencod-tab" data-toggle="tab" href="#nav-gencod" role="tab" aria-controls="nav-gencod" aria-selected="false">
                      <img src="assets/images/comisiones/gen-cod.png" alt="Transferencia bancaria" class="img-fluid">
                      <span class="title">Generar código</span>
                    </a>
                    <a class="nav-item nav-link navitem--yell" id="nav-aplisal-tab" data-toggle="tab" href="#nav-aplisal" role="tab" aria-controls="nav-aplisal" aria-selected="false">
                      <img src="assets/images/comisiones/ap-saldo.png" alt="Transferencia bancaria" class="img-fluid">
                      <span class="title">Aplicar a saldo</span>
                    </a>
                    <a class="nav-item nav-link navitem--navyb" id="nav-apsalce-tab" data-toggle="tab" href="#nav-apsalce" role="tab" aria-controls="nav-apsalce" aria-selected="false">
                      <img src="assets/images/comisiones/ap-compra.png" alt="Transferencia bancaria" class="img-fluid">
                      <span class="title">Aplicar a compra <br> de equipos</span>
                    </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-transb" role="tabpanel" aria-labelledby="nav-transb-tab">
                    <div class="card bg-opac1">
                      <div class="card-body">
                        <form class="form-tm">
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inptrans">Tipo:</label>
                              <select id="inptrans" class="form-control">
                                <option selected>Choose...</option>
                                <option>Transferencia</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpCant">Cantidad a Aplicar:</label>
                              <input type="text" class="form-control" id="inpCant">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpGan">Total de ganancias</label>
                              <input type="text" class="form-control" id="inpGan">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inpdat1">Datos</label>
                              <input type="text" class="form-control" id="inpdat1">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inpDat2">Datos</label>
                              <input type="text" class="form-control" id="inpDat2">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inpDat3">Datos</label>
                            <input type="text" class="form-control" id="inpDat3" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="inpDat4">Datos </label>
                            <input type="text" class="form-control" id="inpDat4" placeholder="">
                          </div>
                          <button type="submit" class="btn btn-primary">Aplicar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-gencod" role="tabpanel" aria-labelledby="nav-gencod-tab">
                    <div class="card bg-opac1">
                      <div class="card-body">
                        <form class="form-tm">
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inptrans">Tipo:</label>
                              <select id="inptrans" class="form-control">
                                <option selected>Choose...</option>
                                <option>Transferencia</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpCant">Cantidad a Aplicar:</label>
                              <input type="text" class="form-control" id="inpCant">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpGan">Total de ganancias</label>
                              <input type="text" class="form-control" id="inpGan">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inpdat1">Datos</label>
                              <input type="text" class="form-control" id="inpdat1">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inpDat2">Datos</label>
                              <input type="text" class="form-control" id="inpDat2">
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Aplicar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-aplisal" role="tabpanel" aria-labelledby="nav-aplisal-tab">
                    <div class="card bg-opac1">
                      <div class="card-body">
                        <form class="form-tm">
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inptrans">Tipo:</label>
                              <select id="inptrans" class="form-control">
                                <option selected>Choose...</option>
                                <option>Transferencia</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpCant">Cantidad a Aplicar:</label>
                              <input type="text" class="form-control" id="inpCant">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpGan">Total de ganancias</label>
                              <input type="text" class="form-control" id="inpGan">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inpdat1">Datos</label>
                              <input type="text" class="form-control" id="inpdat1">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inpDat2">Datos</label>
                              <input type="text" class="form-control" id="inpDat2">
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Aplicar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-apsalce" role="tabpanel" aria-labelledby="nav-apsalce-tab">
                    <div class="card bg-opac1">
                      <div class="card-body">
                        <form class="form-tm">
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inptrans">Tipo:</label>
                              <select id="inptrans" class="form-control">
                                <option selected>Choose...</option>
                                <option>Transferencia</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpCant">Cantidad a Aplicar:</label>
                              <input type="text" class="form-control" id="inpCant">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inpGan">Total de ganancias</label>
                              <input type="text" class="form-control" id="inpGan">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inpdat1">Datos</label>
                              <input type="text" class="form-control" id="inpdat1">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inpDat2">Datos</label>
                              <input type="text" class="form-control" id="inpDat2">
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Aplicar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header depositos-sald__head" id="headingThree">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Estado de cuenta
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="table-responsive" id="site-2-5">
                  <table class="table table-sm table-bordered" id="depositos_table" style="width: 100%">
                    <thead>
                      <tr>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Tipo de movimiento</th>
                        <th>Respuesta</th>
                        <th>Agente</th>
                        <th>Monto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="action-btn">
            <a href="" class="btn btn-info action-btn--tut">Ver Tutorial</a>
            <a href="" class="btn btn-success action-btn--faq">Dudas o preguntas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>