<section>
	<div class="row">
		<div class="col-12">
			<div class="depositos-sald">
				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="table-responsive" id="site-2-5">
              <table class="table table-sm table-bordered" id="mov-saldo" style="width: 100%">
                  <thead>
                    <tr>
                      <th>Folio</th>
                      <th>Fecha</th>
                      <th>Destinatario</th>
                      <th>Respuesta</th>
                      <th>Tipo de Movimiento</th>
                      <th>Monto</th>
                      <th>Compañia</th>
                      <th>Pago de Factura</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  	<tr>
                  		<td>24442</td>
                  		<td>08-02-2021 6:07:38 PM</td>
                  		<td>CFE 111111111113</td>
                  		<td>Ok Abono Realizado</td>
                  		<td>Recarga - </td>
                  		<td>$7500.00</td>
                  		<td>CFE</td>
                  		<td>No</td>
                  	</tr>
                  </tbody>
              </table>
          	</div>
					</div>

					<div class="action-btn text-right">
						<a href="" class="btn btn-info action-btn--tut">Ver Tutorial</a>
						<a href="" class="btn btn-success action-btn--faq">Dudas o preguntas</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<script>
	  $('#mov-saldo').DataTable({
	  	dom: 'Bflrtip',
      buttons: [
          'copyHtml5', 'csvHtml5', 'excelHtml5', 'pdfHtml5', 'print'
      ],
	  });
</script>