
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">COMPRA DE NUEVOS EQUIPOS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">COMPRA DE NUEVOS EQUIPOS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Qué planes le puedo ofrecer a un cliente?</h2>
          <p>Para los planes de Internet en tu casa, puedes ofrecer los siguientes planes:</p>
          <div class="text-center py-3">
            <img src="assets/images/dudas/planertar1.png" alt="Internet en tu casa" class="img-fluid" width="" height="">
          </div>
          <p>
            Para los planes Telcel Max Sin Límite, puedes ofrecer los siguientes planes:
          </p>
          <div class="text-center py-3">
            <img src="assets/images/dudas/planertar2.png" alt="Internet en tu casa" class="img-fluid" width="" height="">
          </div>
          <p>
            Los clientes que se encuentren en el plan Telcel Max Sin Límite y renueven su equipo, si aumentan su plan pueden tener las siguientes promociones:
          </p>
          <div class="row py-3">
            <div class="col-md-6 text-center">
              <img src="assets/images/dudas/planertar3.png" alt="Internet en tu casa" class="img-fluid" width="" height="">
            </div>
            <div class="col-md-6 text-center">
              <img src="assets/images/dudas/planertar4.png" alt="Internet en tu casa" class="img-fluid" width="" height="">
            </div>
          </div>


        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
