
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">VENTA DE CHIPS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">VENTA DE CHIPS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cuál es la diferencia del chip 50 y un chip normal?</h2>
          <p>
            El chip 50, es un chip preactivo, es decir, que ya viene con un número asignado. Estos chips están diseñados para que los vendas con una recarga de $50.<strong class="rred">*</strong>
            <br>
            El chip normal, es un chip virgen, es decir, que no tiene asignado ningún número; el número se le asigna al momento de que se activa en la plataforma de Tienda Express. Nosotros te proporcionamos diferentes tipos de chip, algunos solo se pueden vender junto con un equipo telefónico y otros pueden venderse solos.<strong class="rred">**</strong>
          </p>
          <br><br>
          <small>
            <strong class="rred">*</strong> El precio de venta al público debe ser: el precio de la recarga + el costo del chip (puedes asignar el precio que más te convenga, pero que sea competitivo).
            <br>
            <strong class="rred">**</strong> Te recomendamos que los chips (independientemente del tipo que sean) los vendas siempre con recarga. Esto con la finalidad de que generes ganancias también por esta parte.
          </small>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
