
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">RECUPERACIÓN DE NÚMERO</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">RECUPERACIÓN DE NÚMERO</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo recupero un número?</h2>
          <strong>RECUPERACIÓN SIN REPORTE:</strong>
          <ol>
            <li>En el menú principal, ingresa a “Cambio de compañía y recuperación de número”.</li>
            <li>Dentro de éste, elige la opción de “Tramites”.</li>
            <li>Elige la opción de “Recuperación sin reporte”.</li>
            <li>Coloca los datos que se piden en la solicitud (nombre completo del cliente, número a recuperar, ICCID del chip)
              <ul class="ml-4">
                <li>Por default, deba aparecer en el IMEI XXXXXXXXXXXXXXXXX, y en Clave de suspensión “CAMBIO DE SIM”.</li>
              </ul>
            </li>
            <li>Da clic en el botón “Enviar”.</li>
            <li>El sistema te va a emitir el formato de “Solicitud de servicio”. Imprímela y dala a firmar al cliente.
              <ul class="ml-4">
                <li>Verifica que la firma sea lo más parecido al INE, de lo contrario, van a rechazar el trámite.</li>
              </ul>
            </li>
            <li>Toma fotografías al INE del cliente (por ambos lados) y a la solicitud de servicio firmada.
              <ul class="ml-4">
                <li>Las fotografías deben de verse claras, sin flash o sombra, ni la información recortada.</li>
                <li>Guarda las fotos en la computadora para que posteriormente se puedan incluir en la solicitud.</li>
              </ul>
            </li>
            <li>Del lado derecho, da clic en botón “Solicitudes de recuperación”.</li>
            <li>Identifica la solicitud de tu cliente</li>
            <li>Del lado derecho, en la columna de “Acciones”, da clic en el botón <img src="assets/images/dudas/recpnum1.png" alt="adjuntar" class="img-fluid" width="" height="auto"></li>
            <li>Se abrirá una pantalla en la cual debes de seleccionar las fotografías de la identificación del cliente y el formato de solicitud de servicio para adjuntarlas a la solicitud.</li>
            <li>Da clic en el botón “Guardar” y listo.</li>
            <li>Desde “Solicitudes de recuperación”, da seguimiento al status de la solicitud, para verificar que ésta se ha realizado correctamente.
              <ul class="ml-4">
                <li>En caso de que la solicitud sea rechazada, en la columna de “Acciones”, da clic en el ícono <img src="assets/images/dudas/recpnum2.png" alt="adjuntar" class="img-fluid" width="" height=""> para revisar los comentarios y conocer el motivo del fallo, y de ser necesario, corregir la solicitud para que se pueda concluir el trámite de forma exitosa.</li>
              </ul>
            </li>
          </ol>
          <strong>RECUPERACIÓN CON REPORTE:</strong>
          <ol>
            <li>En el menú principal, ingresa a “Cambio de compañía y recuperación de número”.</li>
            <li>Dentro de éste, elige la opción de “Tramites”.</li>
            <li>Elige la opción de “Recuperación con reporte”.</li>
            <li>Coloca los datos que se piden en la solicitud
              <ul class="ml-4">
                <li>En el IMEI coloca el del celular Telcel del cliente y en Clave de suspensión el cliente debe proporcionarte la clave que le dio Telcel.</li>
              </ul>
            </li>
            <li>Da clic en el botón “Enviar”.</li>
            <li>El sistema te va a emitir el formato de “Solicitud de servicio”. Imprímela y dala a firmar al cliente.
              <ul class="ml-4">
                <li>Verifica que la firma sea lo más parecido al INE, de lo contrario, van a rechazar el trámite.</li>
              </ul>
            </li>
            <li>Toma fotografías al INE del cliente (por ambos lados) y a la solicitud de servicio firmada.
              <ul class="ml-4">
                <li>Las fotografías deben de verse claras, sin flash o sombra, ni la información recortada.</li>
                <li>Guarda las fotos en la computadora para que posteriormente se puedan incluir en la solicitud.</li>
              </ul>
            </li>
            <li>Del lado derecho, da clic en botón “Solicitudes de recuperación”.</li>
            <li>Identifica la solicitud de tu cliente</li>
            <li>Del lado derecho, en la columna de “Acciones”, da clic en el botón <img src="assets/images/dudas/recpnum1.png" alt="adjuntar" class="img-fluid" width="" height="auto"></li>
            <li>Se abrirá una pantalla en la cual debes de seleccionar las fotografías de la identificación del cliente y el formato de solicitud de servicio para adjuntarlas a la solicitud.</li>
            <li>Da clic en el botón “Guardar” y listo.</li>
            <li>Desde “Solicitudes de recuperación”, da seguimiento al status de la solicitud, para verificar que ésta se ha realizado correctamente.
              <ul class="ml-4">
                <li>En caso de que la solicitud sea rechazada, en la columna de “Acciones”, da clic en el ícono <img src="assets/images/dudas/recpnum2.png" alt="adjuntar" class="img-fluid" width="" height=""> para revisar los comentarios y conocer el motivo del fallo, y de ser necesario, corregir la solicitud para que se pueda concluir el trámite de forma exitosa.  </li>
              </ul>
            </li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
