
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">CELULAR CON CRÉDITO PAYJOY</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">CELULAR CON CRÉDITO PAYJOY</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Qué es Payjoy?</h2>
          <p>
            Payjoy en un proveedor que ofrece la oportunidad de que una persona pueda adquirir un equipo celular a crédito, dejando solo un porcentaje de enganche y pagando el resto de forma semanal. Durante el tiempo que el cliente tiene el crédito con Payjoy, el equipo tendrá una aplicación que controlará el sistema operativo y bloqueará el equipo en caso de mal uso, por lo que el cliente:
          </p>
          <ul class="ml-4">
            <li>No debe quitar el SIM</li>
            <li>Debe pagar en tiempo y forma</li>
            <li>No puede instalar aplicaciones que modifiquen sistema operativo</li>
          </ul>
          <p>La grandes ventajas y beneficios que ofrece Payjoy es que:</p>
          <ul class="ml-4">
            <li>No revisa buró de crédito (Payjoy tiene su propio sistema para determinar si otorga un crédito o no)</li>
            <li>Cotiza o da respuesta de si un cliente es viable para el crédito en 10 minutos.</li>
            <li>En máximo 20 minutos (considerando el tiempo de cotización), una persona puede estar estrenando un equipo.  </li>
          </ul>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
