
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">Uso de la plataforma</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">USO DE LA PLATAFORMA</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Con quién me comunico en caso de problemas con la plataforma?</h2>
          <p>
            En caso de tener dudas o problemas con la plataforma que no se pueden resolver con la información descrita en la sección de “Dudas y preguntas”, contacta al equipo de soporte Microtec, para contactarlos:
          </p>
          <ul class="list-unstyled">
            <li>- Envía un correo a <a href="mailto:&#115;&#111;&#112;&#111;&#114;&#116;&#101;&#064;&#109;&#105;&#099;&#114;&#111;&#116;&#101;&#099;&#109;&#120;&#046;&#099;&#111;&#109;" target="_blank">&#115;&#111;&#112;&#111;&#114;&#116;&#101;&#064;&#109;&#105;&#099;&#114;&#111;&#116;&#101;&#099;&#109;&#120;&#046;&#099;&#111;&#109;</a>, indica el motivo de contacto y tu número telefónico para que puedan ponerse en contacto contigo.</li>
          </ul>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
