
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">PAGO DE SERVICIOS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">PAGO DE SERVICIOS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo realizó un cobro de servicio?</h2>
          <p>Para realizar un cobro de servicios:</p>
          <ol>
            <li>En el menú principal, ingresa al botón "Pago de servicios"
              <ul class="ml-4">
                <li>Por default, se muestran los principales servicios que puedes cobrar.</li>
                <li>Selecciona el servicio que quieres pagar (si es que se encuentra en las opciones mostradas), o cierra la ventana.</li>
                <li>Del lado izquierdo, se muestra el menú para hacer el pago de servicios.</li>
              </ul>
            </li>
            <li>Elige el servicio a pagar.</li>
            <li>Coloca el número de referencia del servicio y repítelo.</li>
            <li>Escribe el monto a cobrar (tal y como lo indica el recibo)</li>
            <li>Coloca el número del celular del cliente (a su número le llegará la confirmación del pago de servicio)</li>
            <li>Da clic en "Continuar con el pago" y listo.</li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
