
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">DEPÓSITOS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">DEPÓSITOS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo puedo obtener saldo?</h2>
          <p>
            Para tener dinero disponible en la bolsa de saldo se debe depositar (la cantidad deseada) en alguna de las cuentas de Microtec.
          </p>
          <ol>
            <li>Elige la cuenta de banco en la que vas a realizar el depósito.
              <img src="assets/images/dudas/depositos1.png" alt="Cuentas de banco" class="img-fluid">
            </li>
            <li>Realiza el depósito y guarda el voucher/ticket/comprobante del depósito (éste es muy importante).</li>
            <li>Ingresa a “Tienda Express”, para reportar tu depósito.</li>
            <li>¡Listo!, aparecerá tu dinero electrónico en la bolsa de saldo.</li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
