
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">VENTA DE CHIPS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">VENTA DE CHIPS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cuál es la diferencia de los tipos de chips?</h2>
          <p>
            Los chips Kit y G, están destinados a activarse al ser vinculados con un equipo telefónico. Estos chips solo los tendrás si adquieres equipos Kit y G con Microtec*. Para activarlos correctamente se debe colocar:
          </p>
          <ul class="ml-4 list-unstyled">
            <li>- El “tipo de chip” a activar (Kit o G)</li>
            <li>- Tipo de esquema (óptimo o sin límites)</li>
            <li>- El IMEI del equipo con el que se va vincular (Kit o G)</li>
            <li>- El ICCID del chip indicado (Kit o G)</li>
            <li>- La lada que tendrá el número.</li>
          </ul>
          <p>
            Los chips Express y Chip 50, pueden activarse de forma libre, es decir, no necesitan estar vinculados con un equipo telefónico. El chip 50, tiene su propio menú de activación, pero, el chip Express se activa en el mismo menú que el Kit y G. Para activar correctamente un chip Express se debe colocar:
          </p>
          <ul class="ml-4 list-unstyled mb-4">
            <li>- En “tipo de chip”, elegir “Express”.</li>
            <li>- Tipo de esquema (óptimo o sin límite)</li>
            <li>- En IMEI del equipo, colocar 111111111111111 (15 números 1) o 000000000000001 (14 número 0 y un número 1).</li>
            <li>- El ICCID del chip Express.</li>
            <li>- La lada que tendrá el número.</li>
          </ul>
          <small>
            <strong class="rred">*</strong>Los equipos y chips estarán marcados indicando de que tipo son.
          </small>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
