
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">CELULAR A CRÉDITO TELCEL</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">CELULAR A CRÉDITO TELCEL</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo realizo una solicitud de Tarjeta Amigo Fácil?</h2>
          <ol class="ml-4 orderlist-main">
            <li>En el menú principal, da clic en el botón “Celular a crédito Telcel”</li>
            <li>Se abrirá el menú para capturar la Tarjeta Amigo Fácil. </li>
            <li>Da clic en el botón “Cap. Solicitud”.</li>
            <li>Llena todos los campos que se solicitan.
              <ul class="ml-3">
                <li>Marca la casilla de “¿Su cliente está presente?”</li>
                <li>La solicitud se compone de varias secciones, se deben de colocar los datos correspondientes.
                  <ul class="ml-3">
                    <li>En <strong>“Datos del Plan”</strong>, hay campos que vienen colocados por default.</li>
                    <li>Coloca la “Marca”, “Modelo” y “Color” del equipo que quiere adquirir el cliente.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En <strong>“Tipo de número”</strong>, la única opción siempre será número nuevo. En “Plaza”, indica la ubicación correspondiente a la lada con la que se tendría ese nuevo número.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En <strong>“Datos del cliente”</strong> coloca la información que se requiere en cada campo. Los datos que tienen un * se deben colocar OBLIGATORIAMENTE.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En <strong>“Dirección del cliente”</strong>, en la pregunta ¿Conoces el código postal?, selecciona SI.</li>
                    <li>Coloca el código postal que se indica en el INE del cliente.</li>
                    <li>Se mostrarán una serie de campos con información correspondiente al código postal del cliente.</li>
                    <li>Coloca o modifica la información mostrada, con los datos correctos de la dirección que indica el INE del cliente.</li>
                    <li>Da clic en el botón “UBICAR EN EL MAPA”, ubicado debajo de los campos.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En <strong>“Ocupación/empleo”</strong>, coloca los datos del empleo del cliente.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En <strong>“Dirección del empleo”</strong>, coloca los datos de la dirección en donde trabaja el cliente, así como el número de teléfono del trabajo.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>Coloca la información de las <strong>referencias del cliente</strong>.
                      <ul class="list-unstyled ml-4">
                        <li>- Nombre completo</li>
                        <li>- Número de teléfono</li>
                      </ul>
                    </li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>Con todas estas secciones estará llena la solicitud. Da clic en el botón “Enviar”.</li>
                  </ul>
                </li>

              </ul>
            </li>
            <li>Después de enviar la solicitud, ve al botón “Formatos”, descarga la solicitud de buró de crédito, imprímela, llena los campos que se requieren, y que el cliente la firme.</li>
            <li>Toma una fotografía del formato de buró y el INE del cliente por ambos lados.</li>
            <li>Ingresa al botón “ADJUNTAR”
              <ul class="ml-3">
                <li>En la lista ubicada debajo de “Solicitud a la que se anexa”, identifica la solicitud del cliente y selecciónala.</li>
                <li>Del lado derecho, da clic en los botones de “Elegir archivos” y adjunta las fotografías de la documentación del cliente.</li>
                <li>Da clic en el botón “Guardar”.</li>
              </ul>
            </li>
            <li>Listo, habrás terminado de capturar la solicitud.</li>
            <li>En un lapso de 10 minutos aproximadamente, ingresa al botón “Buscar Sol.” para revisar si el cliente fue aceptado para contratar un plan tarifario.</li>
            <li>En la columna de “Acciones”, da clic en el ícono <img src="assets/images/dudas/planertar7.png" alt="" class="img-fluid" width="" height=""> para revisar los comentarios y conocer el motivo del fallo.</li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
