
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">COMPRA DE NUEVOS EQUIPOS</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">COMPRA DE NUEVOS EQUIPOS</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo realizo una solicitud de plan tarifario?</h2>
          <ol class="ml-4 orderlist-main">
            <li>En el menú principal, da clic en el botón “Venta de planes Telcel y renovaciones”</li>
            <li>En la opción a la que deseas ingresar, selecciona “Planes Tarifarios”.</li>
            <li>Se abrirá el menú para capturar planes tarifarios. </li>
            <li>Da clic en el botón “Cap. Solicitud”.</li>
            <li>Llena todos los campos que se solicitan.
              <ul class="ml-3">
                <li>Marca la casilla de “¿Su cliente está presente?”</li>
                <li>La solicitud se compone de varias secciones, se deben de colocar los datos correspondientes.
                  <ul class="ml-3">
                    <li>En “Datos del Plan”, en “Plan”, en forma de lista se van a encontrar todos los planes que puedes ofrecer al cliente (Telcel Max Sin Límite e Internet en Casa, principalmente). Elige el plan que deseas solicitar para el cliente.</li>
                    <li>En “Marca”, “Modelo” y “Color” coloca el del equipo que ya tiene el cliente o que va a adquirir, en donde va a utilizar el servicio del plan.</li>
                    <li>En “Plazo” elige LIBRE cuando el cliente:
                      <ul class="list-unstyled ml-4">
                        <li>- Tenga un equipo propio</li>
                        <li>- Vaya a comprar un equipo de contado.
                          <ul class="ml-5">
                            <li>Cuando eliges LIBRE, te aparecerá el campo “Serie/Plan libre”, aquí coloca el IMEI del equipo donde tendrá el servicio el cliente.</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>En Plazo elige FORZOSO (a 18, 24 o 30, dependiendo del tiempo que elija el cliente para trabajar de forma fija con Telcel) cuando el cliente:
                      <ul class="list-unstyled ml-4">
                        <li>- Quiera adquirir un nuevo equipo de contado, pero con un pequeño descuento.
                          <ul class="ml-5">
                            <li>Cuando el cliente elige esta opción, en el campo “Financiamiento de equipo” se coloca “CONTADO”.</li>
                          </ul>
                        </li>
                        <li>- Quiera adquirir un nuevo equipo dejando solo un % de enganche y pagando el resto en mensualidades + el costo de su servicio.
                          <ul class="ml-5">
                            <li>Cuando el cliente elige esta opción, en el campo “Financiamiento de equipo” s e selecciona la cantidad de meses equivalente al tiempo del plazo forzoso (18, 24 o 30 meses).</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>En “Forma de pago” siempre se deja “EFECTIVO”.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En “Tipo de número”, selecciona el número que tendrá el cliente en el plan.
                      <ul class="list-unstyled ml-4">
                        <li>- Numero nuevo. – Se asigna una línea nueva.</li>
                        <li>- Migración – Cliente que tiene número de Telcel, está en modalidad de recargas y quiere conservar su número.</li>
                        <li>- Portabilidad. – Cliente que tiene número de otra compañía, esta en modalidad de recargas y quiere conservar su número, pero ahora trabajando con Telcel.</li>
                      </ul>
                    </li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En “Datos del cliente” coloca la información que se requiere en cada campo. Los datos que tienen un * se deben colocar OBLIGATORIAMENTE.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En “Dirección del cliente”, en la pregunta ¿Conoces el código postal?, selecciona SI.</li>
                    <li>Coloca el código postal que se indica en el INE del cliente.</li>
                    <li>Se mostrarán una serie de campos con información correspondiente al código postal del cliente.</li>
                    <li>Coloca o modifica la información mostrada, con los datos correctos de la dirección que indica el INE del cliente.</li>
                    <li>Da clic en el botón “UBICAR EN EL MAPA”, ubicado debajo de los campos.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En “Ocupación/empleo”, coloca los datos del empleo del cliente.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>En “Dirección del empleo”, coloca los datos de la dirección en donde trabaja el cliente, así como el número de teléfono del trabajo.</li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>Coloca la información de las referencias del cliente.
                      <ul class="list-unstyled ml-4">
                        <li>- Nombre completo</li>
                        <li>- Número de teléfono</li>
                        <li>- Correo electrónico</li>
                      </ul>
                    </li>
                    <li>Da clic en el botón “Continuar”.</li>
                    <li>Con todas estas secciones estará llena la solicitud. Da clic en el botón “Enviar”.</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Después de enviar la solicitud, ve al botón “Formatos”, descarga la solicitud de buró de crédito, imprímela, llena los campos que se requieren, y que el cliente la firme.</li>
            <li>Toma una fotografía del formato de buró y el INE del cliente por ambos lados.</li>
            <li>Ingresa al botón “ADJUNTAR”
              <ul class="ml-3">
                <li>En la lista ubicada debajo de “Solicitud a la que se anexa”, identifica la solicitud del cliente y selecciónala.</li>
                <li>Del lado derecho, da clic en los botones de “Elegir archivos” y adjunta las fotografías de la documentación del cliente.</li>
                <li>Da clic en el botón “Guardar”.</li>
              </ul>
            </li>
            <li>Listo, habrás terminado de capturar la solicitud.</li>
            <li>En un lapso de 10 minutos aproximadamente, ingresa al botón “Buscar Sol.” para revisar si el cliente fue aceptado para contratar un plan tarifario.</li>
            <li>En la columna de “Acciones”, da clic en el ícono <img src="assets/images/dudas/planertar7.png" alt="" class="img-fluid" width="" height=""> para revisar los comentarios y conocer el motivo del fallo.</li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
