
<section class="pdoubts">
  <div class="row justify-content-center">
    <div class="col-10 container-title">
      <div id="banner-title" class="sites__cardtitle ">
        <span class="title">CELULAR CON CRÉDITO PAYJOY</span>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb py-0">
          <li class="breadcrumb-item"><a href="views/fns-admin/dudas.html" class="pageto">Dudas </a></li>
          <li class="breadcrumb-item active" aria-current="page">CELULAR CON CRÉDITO PAYJOY</li>
        </ol>
      </nav>
      <div class="row justify-content-center pdoubts__header py-4 bg-white">
        <div class="col-lg-2">
          <div class="doubts__icon">
            <img src="assets/images/icons/faqbig.png" alt="FAQ" class="img-fluid logo-icon w-75">
          </div>
        </div>
        <div class="col-lg-10 pdoubts__page">
          <h2 class="title">¿Cómo realizo el proceso de venta con Payjoy?</h2>
          <ol>
            <li>En el menú principal, ingresa al botón “Crédito Payjoy”.</li>
            <li>Se abrirá la página de inicio de Payjoy. Inicia sesión con las claves de tienda que se te proporcionaron por correo (también las puedes ubicar en la esquina superior derecha).</li>
            <li>Una vez que hayas iniciado sesión en la tienda, te aparecerá una lista desplegable con el nombre de “Vendedor”. Busca tu nombre en esta lista y da clic sobre éste.</li>
            <li>Coloca el código de 4 dígitos que te llegó por mensaje de texto. ¡Ya estas dentro de la consola de ventas de Payjoy!</li>
            <li>En la pantalla que te aparece, da clic en <img src="assets/images/dudas/celpayjoy3.png" alt="PayJoy" class="img-fluid" width="" height=""> para iniciar con el proceso de cotización-venta de Payjoy.
              <img src="assets/images/dudas/celpayjoy4.png" alt="PayJoy" class="img-fluid" width="" height="">
            </li>
            <li>Coloca los datos que se solicitan:
              <ul class="ml-4 list-unstyled">
                <li>- El cliente debe de iniciar sesión con su Facebook en la plataforma.</li>
                <li>- Colocar el número de celular del cliente.</li>
                <li>- Correo electrónico vigente.</li>
                <li>- Adjuntar fotografías del INE (por ambos lados).
                  <ul class="ml-4">
                    <li>Las fotografías deben de verse claras, sin flash ni sombra, y deben de tomarse sobre el teclado de la computadora o frente a la pantalla, de forma que se muestre que el trámite se realiza en tiempo real.</li>
                    <li>Solo se tienen 3 oportunidades para adjuntar el INE y éste sea validado. En caso de que no se valide el INE, contactar por WhatsApp al equipo de soporte de Payjoy (se te incorpora a un grupo de WhatsApp de Payjoy). </li>
                  </ul>
                </li>
                <li>- El código de verificación que le llega al cliente por SMS.</li>
              </ul>
            </li>
            <li>Da clic en el botón “Continuar”.</li>
            <li>El sistema indicará si el cliente es viable para el crédito o no. Si el cliente es aceptado, se va a mostrar listas desplegables para seleccionar el equipo a cotizar para el cliente.
              <img src="assets/images/dudas/celpayjoy5.png" alt="menu" class="img-fluid" width="" height="auto">
              <img src="assets/images/dudas/celpayjoy6.png" alt="menu" class="img-fluid" width="" height="auto">
            </li>
            <li>Cotiza los equipos que sean de interés del cliente, indícale la cantidad de enganche y el pago semanal.</li>
            <li>Indica el equipo y el plazo de pago elegido por el cliente.</li>
            <li>Da clic en el botón “Continuar”.
              <br>
              <img src="assets/images/dudas/celpayjoy7.png" alt="menu" class="img-fluid" width="" height="auto">
            </li>
            <li>Se abrirá el contrato, da clic en la opción “Firmar electrónicamente”. Cobra el enganche en este paso.
              <img src="assets/images/dudas/celpayjoy8.png" alt="menu" class="img-fluid" width="" height="auto">
            </li>
            <li>Aparecerá debajo del contrato el botón “Continuar”, da clic en éste para seguir con el proceso.</li>
            <li>Toma el teléfono que vas a vender por este medio, coloca el número que tiene asignado y sigue el tutorial que indica la página para instalar la aplicación de Payjoy al equipo.
              <img src="assets/images/dudas/celpayjoy9.png" alt="menu" class="img-fluid" width="" height="auto">
            </li>
            <li>Una vez instalada la aplicación, da clic en el botón “Continuar” y coloca los datos que se solicitan en el fin del proceso.
              <img src="assets/images/dudas/celpayjoy10.png" alt="menu" class="img-fluid" width="" height="auto">
            </li>
            <li>Da clic en el botón “Enviar”, y listo. Has terminado la venta de Payjoy.</li>
          </ol>
        </div>
        <div class="col-lg-12 pdoubts__footer">
          <p>¿Está información te ayudó a resolver tu duda?</p>
          <a class="btn btn-primary btn-iconlike likeyes" href="#"><i class="fas fa-thumbs-up"></i></a>
          <a class="btn btn-primary btn-iconlike likenot" href="#"><i class="fas fa-thumbs-down"></i></a>
        </div>
        <div class="col-lg-12 pdoubts__footer small text-right px-4">
          <p class="small">
            Si esta información no te ayudó podrás comunicarte a <i class="fas fa-mobile-alt ml-2"></i> 221 521 1050 Horario: L-V: 10 a.m. - 7 p.m.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 pdoubts__page">

        </div>

      </div>
    </div>
  </div>
</section>
